<table>
  <thead>
    <th>Nama</th>
    <th>Alamat</th>
    <th>Jenis Kelamin</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr>
      <td>Nama</td>
      <td>Alamat</td>
      <td>Jenis Kelamin</td>
      <td><button>Edit</button></td>
    </tr>
  </tbody>
</table>
<hr>
<form [formGroup] = "formDataDiri" (ngSubmit)="onSubmit()" >
  Data Diri : 
  <br>
  <label>
  Nama: <input type="text" formControlName="nama">
  <br>
  </label>

  Alamat: <input type="text" formControlName="alamat">
  <br>
  Jenis Kelamin: <input type="text" formControlName="jenisKelamin">
  <br>

  <button class="btn btn-primary" type="submit" [disabled]='!formDataDiri.valid'>Save</button>
</form>
